webserviceTP/Client/src/main/java/proxy/1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="banqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8787/?xsd=1"/>
</xsd:schema>
</types>
<message name="listeCompte">
<part name="parameters" element="tns:listeCompte"/>
</message>
<message name="listeCompteResponse">
<part name="parameters" element="tns:listeCompteResponse"/>
</message>
<message name="converstionEuroToDH">
<part name="parameters" element="tns:converstionEuroToDH"/>
</message>
<message name="converstionEuroToDHResponse">
<part name="parameters" element="tns:converstionEuroToDHResponse"/>
</message>
<message name="consultationCompte">
<part name="parameters" element="tns:consultationCompte"/>
</message>
<message name="consultationCompteResponse">
<part name="parameters" element="tns:consultationCompteResponse"/>
</message>
<portType name="ws">
<operation name="listeCompte">
<input wsam:Action="http://webservice/ws/listeCompteRequest" message="tns:listeCompte"/>
<output wsam:Action="http://webservice/ws/listeCompteResponse" message="tns:listeCompteResponse"/>
</operation>
<operation name="converstionEuroToDH">
<input wsam:Action="http://webservice/ws/converstionEuroToDHRequest" message="tns:converstionEuroToDH"/>
<output wsam:Action="http://webservice/ws/converstionEuroToDHResponse" message="tns:converstionEuroToDHResponse"/>
</operation>
<operation name="consultationCompte">
<input wsam:Action="http://webservice/ws/consultationCompteRequest" message="tns:consultationCompte"/>
<output wsam:Action="http://webservice/ws/consultationCompteResponse" message="tns:consultationCompteResponse"/>
</operation>
</portType>
<binding name="wsPortBinding" type="tns:ws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listeCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="converstionEuroToDH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultationCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="banqueWS">
<port name="wsPort" binding="tns:wsPortBinding">
<soap:address location="http://localhost:8787/"/>
</port>
</service>
</definitions>